/* BASE STYLES  */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */
.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    z-index: 100;
}

.nav {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 0 20px;
}

.nav__menu {
    display: flex;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav__link {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    transition: 0.3s;
}

.nav__link:hover {
    color: #007bff;
}

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* Will be shown in mobile view */
}
